.venv/
.venv310/
configs/_tmp_*.yaml
logs/

# keep outputs folder tracked, but only commit curated examples
outputs/growth/**
!outputs/growth/_examples/**
!outputs/growth/_examples/

# OS junk
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*/__pycache__/

# Jupyter autosaves
.ipynb_checkpoints/

