# virtual envs
.venv/
.venv310/

# temp configs and logs
configs/_tmp_*.yaml
logs/

# keep outputs folder in repo, but ignore growth data
outputs/growth/**
!outputs/growth/.gitkeep

# OS junk
.DS_Store
Thumbs.db
